.movie-card {
    margin-right: 0;
    border:none;
    margin-bottom: 8px;
    width: 330px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.movie-card:hover {
    background: #9ddaf6;
}

.movie-card:focus {
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.movie-title {
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.movie-props {
    margin: 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #6C6C6C;
}



.rectangle {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}