.movies-list {
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 1px solid rgba(217, 217, 217, 0.52);
  max-height: 650px;
}

.search {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
}

.input-search {
  background: #ecf1f7;
  border-radius: 8px;
  margin-right: 13px;
  height: 32px;
  width: 325px;
  border: none;
  padding-left: 5px;
}

.btn-search {
  background: #ecf1f7;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  height: 32px;
  width: 68px;
  margin-right: 3px;
}

.text-search {
  color: #336fee;
  margin: 0;
}

.line {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  width: 330px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-add {
  margin-right: 12px;
  background-color: rgba(255, 221, 45, 1);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 19px;
  margin-right: 18px;
  border: none;
}

.btn-add:hover {
  background-color: rgb(255, 153, 45);
}

.found-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.btn-add-text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}
